/* bigPicture.css */

.big-picture-container {
    position: relative;
    width: 100%;
    max-height: 400px; /* Önerilen maksimum yükseklik */
    overflow: hidden;
  }
  
  .big-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi kapsayacak şekilde ayarla */
  }
  
  .big-picture-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }